
CMS/.vs/CMS/v15/.suo
CMS/.vs/CMS/v15/Server/sqlite3/storage.ide-shm
CMS/.vs/CMS/v15/Server/sqlite3/storage.ide-wal
CMS/.vs/config/applicationhost.config
CMS/CMS/obj/Debug/CMS.csproj.CoreCompileInputs.cache
CMS/CMS/bin/CMS.pdb
CMS/CMS/obj/Debug/CMS.csproj.FileListAbsolute.txt
CMS/CMS/obj/Debug/CMS.csprojAssemblyReference.cache
CMS/CMS/obj/Debug/CMS.dll
CMS/CMS/obj/Debug/CMS.pdb
CMS/CMS/bin/CMS.dll
